### Connecting to the database using pymysql framework. Fetch relevant data from the table

### Create a database

In [75]:
import sqlite3
from datetime import datetime
DATABASE_NAME = "housing.db"

In [3]:
def get_db():
    conn = sqlite3.connect(DATABASE_NAME,timeout=5)
    return conn

In [4]:
db = get_db()
cursor = db.cursor()

In [5]:
cursor.execute("select * from tbl_model_artifacts")
items = cursor.fetchall()

for item in items:
    print(item)

(1, 'LinearRegression', 0.5661941509520954, 0.5728939734843519, 0.4404683970955693, 0.5749325857374448, 0.5728939734843519, 0.5723293578982839, '2024-06-19 10:21:31.406721', 'Inactive', 'C:\\Users\\risha\\Program_folder\\Projects\\Flask_app\\house_price_model\\19_06_2024_10_20_27_925192\\LinearRegression.pkl')
(2, 'DecisionTreeRegressor', 0.9988565362988197, 0.7321898099819273, 0.2915631681647003, 0.4552632801918919, 0.7321898099819273, 0.7318357765616414, '2024-06-19 10:21:31.419831', 'Inactive', 'C:\\Users\\risha\\Program_folder\\Projects\\Flask_app\\house_price_model\\19_06_2024_10_20_27_925192\\DecisionTreeRegressor.pkl')
(3, 'RandomForestRegressor', 0.977588802969769, 0.8385459501079268, 0.2260486559605517, 0.35348708089047043, 0.8385459501079268, 0.8383325148779288, '2024-06-19 10:21:31.419831', 'Active', 'C:\\Users\\risha\\Program_folder\\Projects\\Flask_app\\house_price_model\\19_06_2024_10_20_27_925192\\RandomForestRegressor.pkl')
(4, 'GradientBoostingRegressor', 0.8968682396145119, 0.839267507797218, 0.23399395904427808, 0.35269630811329644, 0.839267507797218, 0.8390550264350944, '2024-06-19 10:21:31.419831', 'Inactive', 'C:\\Users\\risha\\Program_folder\\Projects\\Flask_app\\house_price_model\\19_06_2024_10_20_27_925192\\GradientBoostingRegressor.pkl')

In [6]:
cursor.execute("select * from tbl_prediction")
items = cursor.fetchall()

for item in items:
    print(item)

(11, 1, 3, 950, 0.0, 73.0427157, 21.3084889, 97, 2.2854873281981956, 0, 1, 0, 52.52, '2024-07-09 18:57:50.518517', 'individual', 'example@gmail.com')

In [59]:
# cursor.execute("DELETE FROM tbl_prediction")
# db.commit()
cursor.execute("select * from register_user")
column_names = [desc[0] for desc in cursor.description]

print(column_names)

['id', 'name', 'email', 'pass_word', 'token', 'user_status', 'user_level', 'dt_time']

In [38]:
# cursor.execute("ALTER TABLE register_user ADD COLUMN name varchar(100)")

In [47]:
# cursor.execute("ALTER TABLE tbl_model_artifacts AUTO_INCREMENT = 1;")
cursor.execute("DELETE FROM sqlite_sequence WHERE name='tbl_model_artifacts'")
# db.commit()

In [67]:
# Delete a table from the database
cursor.execute("DROP TABLE property_listings")
db.commit()

In [52]:
table = """CREATE TABLE IF NOT EXISTS register_user 
            (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name varchar(100),
            email varchar(100),
            pass_word varchar(100),
            token varchar(500),
            user_status Text,
            user_level Text,
            dt_time timestamp,
            UNIQUE (id ,email)
            );"""
# cursor.executescript(table)

In [69]:
table = """CREATE TABLE IF NOT EXISTS property_listings 
        (
            property_id INTEGER PRIMARY KEY AUTOINCREMENT,
            address TEXT NOT NULL,
            city TEXT NOT NULL,
            state TEXT NOT NULL,
            price REAL NOT NULL,
            bedrooms INTEGER NOT NULL,
            bathrooms INTEGER NOT NULL,
            area_sqft INTEGER NOT NULL,
            description TEXT NOT NULL,
            dt_posted timestamp,
            dt_updated timestamp,
            status TEXT NOT NULL DEFAULT 'available',
            seller_id TEXT NOT NULL,
            seller_contact TEXT NOT NULL,
            seller_email TEXT NOT NULL
        );"""
cursor.executescript(table)

In [77]:
cursor.execute("select * from property_listings")
items = cursor.fetchall()

for item in items:
    print(item)

(1, 'Malabar Hills', 'Mumbai', 'Maharashtra', 50.0, 3, 2, 1000, 'A comfortable flat located at the heart of natural scenic beauty', '2024-07-12 18:08:27.536362', '2024-07-12 18:08:27.536362', 'available', 'agent', '9579823653', 'asofnow@gmail.com')

In [76]:
# (1, 'Malabar Hills', 'Mumbai', 'Maharashtra', 50.0, 3, 2, 1000, 'A comfortable flat located at the heart of natural scenic beauty', 'available', 'rishabhsingh5676@gmail.com', '9579823653', 'asofnow@gmail.com')
# cursor.execute("UPDATE property_listings set name='agent' where id=1")
dt = datetime.now()
sql = """INSERT INTO property_listings (address, city, state, price, bedrooms, bathrooms, area_sqft, description, dt_posted, dt_updated, status, seller_id, seller_contact, seller_email)
                        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)"""
cursor.execute(sql, ('Malabar Hills', 'Mumbai', 'Maharashtra', 50.0, 3, 2, 1000, 'A comfortable flat located at the heart of natural scenic beauty', dt, dt, 'available', 'agent', '9579823653', 'asofnow@gmail.com'))
db.commit()

In [63]:
cursor.execute("select * from register_user")
items = cursor.fetchall()

for item in items:
    print(item)

(1, 'admin', 'example@gmail.com', '$pbkdf2-sha256$30000$s9a6t3ZO6R0jxFiLEUIoZQ$bviT01ItAxKDLy66E4KKy0zKC5fPg5V/sAlPxGXa0BQ', 'df30354b-7672-4c04-8d3d-31457b070152', 'approved', 'admin', '2024-07-12 17:32:02.867112')
(2, 'agent', 'rishabhsingh5676@gmail.com', '$pbkdf2-sha256$30000$3DtHCMEYgxBCKIXw3ttbqw$0FPjERS81S/pF9mWE1PHteuikRYd5BAal3HzcT/IFrg', '168248ab-22a0-4862-8114-9966bd7667c9', 'approved', 'agent', '2024-07-12 17:35:55.766625')

In [64]:
cursor.execute("SELECT id, name, email, user_status, user_level, DATE(dt_time) from register_user")
items = cursor.fetchall()

for item in items:
    print(item)

(1, 'admin', 'example@gmail.com', 'approved', 'admin', '2024-07-12')
(2, 'agent', 'rishabhsingh5676@gmail.com', 'approved', 'agent', '2024-07-12')

In [10]:
approval = "approved"
user_type = "agent"
user_id = 2
update_query = "UPDATE register_user SET user_status = ?, user_level = ? WHERE id = ?"
cursor.execute(update_query, (approval, user_type, user_id))
db.commit()

In [19]:
import uuid
from passlib.context import CryptContext

pwd_context = CryptContext(
    schemes=["pbkdf2_sha256"],
    default="pbkdf2_sha256",
    pbkdf2_sha256__default_rounds=30000
)

In [61]:
name = "agent"
user_email = "rishabhsingh5676@gmail.com"
password = "12345678"
passw = pwd_context.hash(password)
token = str(uuid.uuid4())
status = "approved"
level = "agent"
dt = datetime.now()

In [62]:
query = "insert into register_user (name, email, pass_word, token, user_status, user_level, dt_time) values (?, ?, ?, ?, ?, ?, ?)"
cursor.execute(query, (name, user_email, passw, token, status, level, dt))
db.commit()

In [40]:
table = """CREATE TABLE IF NOT EXISTS user_logins 
            (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            email varchar(100) ,
            user_level Text,
            dt_time timestamp,
            UNIQUE (id ,email)
            );"""
cursor.executescript(table)

In [42]:
hashed = pwd_context.hash("12345678")
print(hashed)
pwd_context.verify("12345678", hashed)

$pbkdf2-sha256$30000$y/mfU.qdE2KsFWKMUQrhHA$/oy/3R8mRB9dX1smTlIsjULJ51akyT9.5dPqXLtb9/I

True

In [2]:
import joblib
with open('city_encoder.pkl', 'rb') as f:
    city_encoder = joblib.load(f)

In [3]:
city_encoder.classes_

array(['Bangalore', 'Chandigarh', 'Chennai', 'Faridabad', 'Ghaziabad',
       'Gurgaon', 'Jaipur', 'Kolkata', 'Lalitpur', 'Lucknow', 'Mohali',
       'Mumbai', 'Nagpur', 'Noida', 'Pune', 'Surat', 'Vadodara'],
      dtype=object)